*{
    margin: 0;
    padding: 0;
    
}
#inp{
    height: 100px;
    width: 800px;
    color: black;
    font-size: 25px;
    line-height: 50px;
    font-weight: 900;
    text-align: center; 
    margin: 25px;
    border: solid purple 1px;
}
button{
    height: 50px;
    width: 200px;
    color: black;
    font-size: 25px;
    line-height: 50px;
    font-weight: 900;
    text-align: center;
    margin: 25px;
    border-radius: 5%;
}
#imgblock{
    height: 400px;
    width: 400px;
    color: black;
    font-size: 25px;
    line-height: 50px;
    font-weight: 900;
    text-align: center; 
    margin: 25px;
    border: solid teal 1px;
    
    background-repeat: no-repeat;
    background-size: contain;
}


