@import "./parts/zero.scss";
@import "./parts/header.scss";
@import "./parts/about.scss";
@import "./parts/skills.scss";
@import "./parts/portfolio.scss";

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
}

@media (max-width: 1279px) {
  .wrapper {
    max-width: 708px;
  }
}

@media (max-width: 767px) {
}
